{% extends 'base.html.twig' %}

{% block title %}Confirmation{% endblock %}

{% block body %}

  <div class="formulaireService">  

    <p class="confirmation_p"><strong>Le compte employé a bien été créé.</strong></p>

    <a href="{{ path('home') }}" class="btn btn-primary button_service_confirmation">Retour à la page d'accueil</a>
  </div>

{% endblock %}
