{% extends 'base.html.twig' %}

{% block title %}Edit Service{% endblock %}

{% block body %}

      <h1>Modifier un service</h1>

 <h2>{{ form(formulaire)}}</h2>

<style>
h1 {text-align: center; margin-top: 70px; font-size: 35px; font-family: Arial black; text-decoration: underline; }
input {margin: 20px; }
form { border:6px solid #005E9E; padding: 40px; text-align: center; }
</style>

{% endblock %}
