
{% extends 'base.html.twig' %}

{% block title %}New Service{% endblock %}

{% block body %}

    <h1>Ajouter un nouveau service</h1>
<h2>{{ form(formulaire)}}</h2>

<style>
h1 {text-align: center; margin-top: 50px; font-size: 30px; font-family: Arial black; text-decoration: underline; }
input {margin: 20px; }
form { border:3px solid #005E9E; padding: 40px; text-align: center; }
</style>

{% endblock %}

