/**************************/
/* Mise en forme générale */
/**************************/
* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box; 
  word-wrap: break-word;
  font-family: "Helvetica", "Verdana", 'Arial';
}

.zoom{
  transition: 1s; 
}

.zoom:hover{
  transform: scale(1.2); 
  border-radius: 20%; 
}

a {
  padding: 1%;
}

/****************************/
/* Mise en forme de l'entête*/
/****************************/
header {
  grid-template-rows: auto;
	grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "aside1  aside2  aside3";

  background-color: #efefef;
  text-align: center;
  align-items: center;
}

header > aside:first-of-type {
  grid-area: aside1;
}

header > aside:nth-of-type(2) {
  grid-area: aside2;
  margin-bottom: 20px;
}

header > aside:last-of-type {
  grid-area: aside3;
}


/*********************************/
/* Mise en forme du pied de page */
/*********************************/
.grille, .grille1{
  display: grid;
  place-items: center stretch;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer {
  grid-template-rows: auto;
	grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "aside1  aside2  aside3";

  margin-top: 10px;
  background-color: #76a5cf;
  color: white;
  text-align: center;
  align-items: center;
}

footer > aside:first-of-type {
  grid-area: aside1;
}

footer > aside:nth-of-type(2) {
  grid-area: aside2;
  margin-bottom: 20px;
}

footer > aside:last-of-type {
  grid-area: aside3;
}


/*********************************************************/
/* Propriétés CSS servant au design responsive-Tablettes*/
/*********************************************************/
@media only screen and (max-width: 799px) {
  main{
    width: 100%;
  }
  
  
  .zoom{
    transition: 1s; 
  }
  
  .zoom:hover{
    transform: scale(1.2); 
    border-radius: 20%; 
  }
  
  /****************************/
  /* Mise en forme de l'entête*/
  /****************************/
  header {
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "aside1  aside2  aside3";
  
    background-color: #efefef;
    text-align: center;
    align-items: center;
  }
  
  header > aside:first-of-type {
    grid-area: aside1;
  }
  
  header > aside:nth-of-type(2) {
    grid-area: aside2;
    margin-bottom: 20px;
  }
  
  header > aside:last-of-type {
    grid-area: aside3;
  }
  
  
  /*********************************/
  /* Mise en forme du pied de page */
  /*********************************/
  .grille, .grille1{
    display: grid;
    place-items: center stretch;
  }
  .flex {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  footer {
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "aside1  aside2  aside3";
  
    background-color: #76a5cf;
    color: white;
    text-align: center;
    align-items: center;
  }
  
  footer > aside:first-of-type {
    grid-area: aside1;
  }
  
  footer > aside:nth-of-type(2) {
    grid-area: aside2;
    margin-bottom: 20px;
  }
  
  footer > aside:last-of-type {
    grid-area: aside3;
  }

  footer img {
    padding-right: 50px;
  }

  
  /*********************************************************/
  /* Propriétés CSS servant au design responsive-Tablettes*/
  /*********************************************************/
  @media only screen and (max-width: 799px) {
    main{
      width: 100%;
    }

    header{
      padding-bottom: 30px;
    }
  
    footer, header{
      grid-template-rows: repeat(3, auto);
      grid-template-columns: 1fr;
      grid-template-areas: "aside1"
                           "aside2" 
                           "aside3";
    }
  } 
}
