<form method="post" action="{{ path('image_delete', {'idImage': image.idImage}) }}" onsubmit="return confirm('Confirmer la suppression de l'image?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image.idImage) }}">
    <button class="btn">Delete</button>
</form>
