{% block body %}

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-lg btn-primary button_form_employe">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}

{% endblock %}