{% extends 'base.html.twig' %}

{% block title %}Turbo S{% endblock %}

{% block body %}
<h1>Gestion de la promotion</h1>

<p>Activer ou déactiver l'affichage de promotion:</p>

 <a href="{{ path('home_employes') }}"><span style='font-size:40px;'>&#9664;</span></a>
{% endblock %}
