{# Formulaire type servant à contenir les informations d'une nouvelle demande de service et à envoyer à l'administrateur du site #}

<h1>Bienvenue sur la plateforme Turbo S</h1>

<p>Votre compte employé vient d'être créé.</p>

<p>Voici vos codes d'accès à la section d'administration du site:</p>

<p>Nom d'utilisateur: <strong> {{ mail }} </strong></p>

<p>Mot de passe: <strong> {{ password }} </strong></p>