{# Formulaire type servant à contenir les informations d'une nouvelle demande de service et à envoyer à l'administrateur du site #}

<h1>Message automatique de Turbo S</h1>

<p>Merci d'avoir contacté Turbo S. Nous avons bien reçu votre demande de service concernant :</p>

<p>{{ description|raw }}</p>

<p>A effectuer à l'adresse: {{ adresse }}</p>

<p>Nous vous contacterons dans les plus brefs délais.</p>