<form method="post" action="{{ path('form_delete_employe', {'idEmploye': employe.idEmploye}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet employé ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ employe.idEmploye) }}">
    <button class="btn"><span style='font-size:50px;'>&#10060;</span></button>
</form>
